USE [master]
GO
/****** Object:  Database [EX]    Script Date: 07.12.2021 11:21:52 ******/
CREATE DATABASE [EX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EX]
GO
/****** Object:  Table [dbo].[12]    Script Date: 07.12.2021 11:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[12](
	[Тип_агента] [nvarchar](50) NULL,
	[Наименование_агента] [nvarchar](50) NULL,
	[Электроннаяпочтаагента] [nvarchar](50) NULL,
	[Телефонагента] [nvarchar](50) NULL,
	[Логотип_агента] [nvarchar](50) NULL,
	[Юридический_адрес] [nvarchar](100) NULL,
	[Приоритет] [nvarchar](50) NULL,
	[Директор] [nvarchar](50) NULL,
	[ИНН] [nvarchar](50) NULL,
	[КПП] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 07.12.2021 11:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[Наименование_продукции] [nvarchar](50) NULL,
	[Тип_продукции] [nvarchar](50) NULL,
	[Артикул] [nvarchar](50) NULL,
	[Количество_человек_для_производства] [nvarchar](50) NULL,
	[Номер_цеха_производства] [nvarchar](50) NULL,
	[Минимальная_цена_для_агента] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productsale_k_import]    Script Date: 07.12.2021 11:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productsale_k_import](
	[Продукция] [nvarchar](50) NULL,
	[Наименование_агента] [nvarchar](50) NULL,
	[Дата_реализации] [nvarchar](50) NULL,
	[Количество_продукции] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[12] ([Тип_агента], [Наименование_агента], [Электроннаяпочтаагента], [Телефонагента], [Логотип_агента], [Юридический_адрес], [Приоритет], [Директор], [ИНН], [КПП]) VALUES (N'МКК', N'МонтажОрионУрал', N'pzaitev@blokin.org', N'(3522) 267-3926', N'\agents\agent_96.png', N'027573, Тамбовская область, город Коломна, ул. Ленина, 20', N'50', N'Давыдоваа Нина Евгеньевна', N'1692286718', N'181380912')
INSERT [dbo].[12] ([Тип_агента], [Наименование_агента], [Электроннаяпочтаагента], [Телефонагента], [Логотип_агента], [Юридический_адрес], [Приоритет], [Директор], [ИНН], [КПП]) VALUES (N'МКК', N'МетизСтрой', N'kristina.pakomov@burova.ru', N'(8800) 172-6256', N'\agents\agent_94.png', N'254238, Нижегородская область, город Павловский Посад, проезд Балканская, 23', N'374', N'Ева Борисовна Беспалова', N'4024742936', N'295608432')
INSERT [dbo].[12] ([Тип_агента], [Наименование_агента], [Электроннаяпочтаагента], [Телефонагента], [Логотип_агента], [Юридический_адрес], [Приоритет], [Директор], [ИНН], [КПП]) VALUES (N'ОАО', N'РадиоСевер', N'maiy.belov@rogov.ru', N'(495) 368-8651', N'\agents\agent_123.png', N'491360, Московская область, город Одинцово, въезд Ленина, 19', N'431', N'Карпов Иосиф Максимович', N'5889206249', N'372789083')
GO
INSERT [dbo].[products] ([Наименование_продукции], [Тип_продукции], [Артикул], [Количество_человек_для_производства], [Номер_цеха_производства], [Минимальная_цена_для_агента]) VALUES (N'Попрыгунчик детский красный 1289', N'Для маленьких деток', N'82925345', N'4', N'10', N'1 919,00 ₽ ')
INSERT [dbo].[products] ([Наименование_продукции], [Тип_продукции], [Артикул], [Количество_человек_для_производства], [Номер_цеха_производства], [Минимальная_цена_для_агента]) VALUES (N'Попрыгунчик детский желтый 6678', N'Для больших деток', N'80007300', N'2', N'1', N'1 768,00 ₽ ')
INSERT [dbo].[products] ([Наименование_продукции], [Тип_продукции], [Артикул], [Количество_человек_для_производства], [Номер_цеха_производства], [Минимальная_цена_для_агента]) VALUES (N'Попрыгунчик детский 6888', N'Для маленьких деток', N'13875235', N'4', N'12', N'1 972,00 ₽ ')
GO
INSERT [dbo].[productsale_k_import] ([Продукция], [Наименование_агента], [Дата_реализации], [Количество_продукции]) VALUES (N'Попрыгунчик для кошечек 2604', N'КазаньТекстиль', N'21.06.2010', N'7')
INSERT [dbo].[productsale_k_import] ([Продукция], [Наименование_агента], [Дата_реализации], [Количество_продукции]) VALUES (N'Попрыгунчик для собачек 5754', N'Компания ФинансСервис', N'17.02.2016', N'18')
INSERT [dbo].[productsale_k_import] ([Продукция], [Наименование_агента], [Дата_реализации], [Количество_продукции]) VALUES (N'Попрыгунчик для собачек 4485', N'РемГаражЛифт', N'07.11.2012', N'9')
GO
USE [master]
GO
